<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <!--Target to write usage log data to csv file-->
    <target name="CsvFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.csv"
          archiveAboveSize="20971520"
          maxArchiveFiles="9"          
          archiveNumbering="Sequence"
          concurrentWrites="true"
          keepFileOpen="true"
          bufferSize="1024000"
         >
      <layout xsi:type="CsvLayout">
        <header xsi:type="CsvLayout">
          <column name="ResponseDateTime" layout="ResponseDateTime(UTC)"></column>
          <column name="ResponseCode" layout="ResponseCode"></column>          
        </header>
        <column name="message" layout="${message}" />
        <column name="ServerName" layout="${machinename}"></column>
        <!-- CSV Options -->
        <quoting>Nothing</quoting>
        <quoteChar>String</quoteChar>
        <withHeader>true</withHeader>
        <customColumnDelimiter>String</customColumnDelimiter>
        <delimiter>Comma</delimiter>
      </layout>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="f" />
    <logger name="*" minlevel="Info" writeTo="CsvFile" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    
    -->
  </rules>
</nlog>
